.commentBox
    padding: 15px

.textareaBox
    padding: 10px
    border: 1px solid silver
    margin-bottom: 15px
    border-radius: 4px

.textarea
    display: block
    font-family: 'Cousine', monospace
    width: 100%
    box-sizing: border-box
    box-shadow: 0
    outline: 0
    resize: none
    border: 0
    height: 130px
    overflow-y: auto
    font-size: 18px

.sendBtn
    display: block
    background: 0
    border: 1px solid silver 
    padding: 4px 15px
