//@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap')                         

html
    height: 100%

body                                                                                                 
    font-family: 'Cousine', monospace                                                                
    margin: 0   
    padding: 0 !important
    height: 100%

button
    font-family: 'Cousine', monospace                                                                
    border: 0
    background: 0
    font-weight: 600
    cursor: pointer

button:hover
    text-decoration: underline

button:focus
    outline: 0
